.art-img {
    background: url(/images/art.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-transparent {
    background: rgba(0,0,0,0.4);
}

