@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.label {
    color: #000;
}
.art-img {
    background: url(/images/art.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-transparent {
    background: rgba(0,0,0,0.4);
}

html {
    overflow: hidden;
}
body {
    font-family: "Courier New";
    background: #1F0F00;
}
.btn-flt-bottom2right
{
    position: fixed;
    z-index: 10000;
    bottom: 94px;
    right: 4px;
}
.btn-flt-bottom1right
{
    position: fixed;
    z-index: 10000;
    bottom: 49px;
    right: 4px;
}
.btn-flt-bottomright
{
    position: fixed;
    z-index: 10000;
    bottom: 4px;
    right: 4px;
}
.btn-transparent
{
    background: rgba(0,0,0,0.9);
}
.btn-circle
{
    height: 45px; width: 45px;
    padding-left: 0; padding-right: 0;
    border-radius: 50%;
}
.btn-circle-sm
{
    height: 35px; width: 35px;
    padding-left: 0; padding-right: 0;
    border-radius: 50%;
}
.btn-play
{
    height: 65px; width: 65px;
    padding-left: 0; padding-right: 0;
    border-radius: 50%;
}
.nopadding {
    padding: 4px;
}
.panel-transparent
{
    background: rgba(0,0,0,0.9);
}
.list-group > a:focus
{
    background-color: transparent;
}
.btn-flt-topleft2.btn-lg
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    left: 94px;
}
.btn-flt-topleft3
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    left: 139px;
}
.btn-flt-topright
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    right: 4px;
}
.btn-flt-topright1
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    right: 59px;
}
.btn-flt-topright2
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    right: 109px;
}
.btn-flt-topright3
{
    position: fixed;
    z-index: 10000;
    top: 4px;
    right: 154px;
}
.btn-flt-top1right
{
    position: fixed;
    z-index: 10000;
    top: 59px;
    right: 4px;
}
.btn-flt-top2right
{
    position: fixed;
    z-index: 10000;
    top: 104px;
    right: 4px;
}
.btn-flt-top3right
{
    position: fixed;
    z-index: 10000;
    top: 149px;
    right: 4px;
}
.btn-flt-top4right
{
    position: fixed;
    z-index: 10000;
    top: 194px;
    right: 4px;
}
.dd-flt-topleft2.dropdown-menu
{
    position: fixed;
    z-index: 10000;
    top: 45px;
    left: 98px;
}
.bkgreen
{
    background: green;
}
.bkorange
{
    background: orange;
    color: black;
}
.bkblack
{
    background: black;
    color: GreenYellow;
}
H3 {
    font-family: "Courier New";
    font-weight: bold;
}
.gray {
    color: gray;
}
.warning {
    color: #eb9316;
}

.img-thumbnail{background-color:transparent}

.flt-next-radio
{
    position: fixed;
    top: 200px;
    left: 240px;
}
.flt-bottomleft
{
    position: fixed;
    bottom: 0px;
    left: 4px;
}
.flt-bottomleft1
{
    position: fixed;
    bottom: 0px;
    left: 49px;
}
.flt-bottom1left
{
    position: fixed;
    bottom: 20px;
    left: 4px;
}
.list-group > a
{
    background-color: transparent;
}
.modal
{
    z-index: 20000;
}
